starterkit/private_mouth_n8n_workflow.json
{
  "name": "Private Mouth – Telegram ↔ Brainstem (chew → swallow → spit → speak)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram/private-mouth",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200,
          "responseData": "={{$json.response || \"ok\"}}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "Webhook",
      "name": "Webhook: Telegram (private)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// CHEW — normalize telegram update into Meal\nconst u = items[0].json;\nconst msg = u.message ?? u.edited_message ?? {};\nif (!msg || !msg.chat || !msg.from) {\n  return [{json:{response: JSON.stringify({ok:true, note:\"ignored non-message update\"})}}];\n}\nconst meal_id = `tg-${msg.chat.id}-${msg.message_id}`;\nreturn [{\n  json: {\n    meal_id,\n    stage: \"chew\",\n    source: \"telegram\",\n    chat_id: msg.chat.id,\n    user_id: msg.from.id,\n    username: msg.from.username || null,\n    ts: new Date((msg.date||Math.floor(Date.now()/1000)) * 1000).toISOString(),\n    payload: { text: msg.text || \"\", message_id: msg.message_id },\n    context: { thread_key: `tg:${msg.chat.id}`, recency_window: 12 },\n    flags: { private: true }\n  }\n}];\n"
      },
      "id": "Chew",
      "name": "CHEW: Normalize → Meal",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "mealbox_intake",
        "columns": "meal_id,source,chat_id,user_id,username,ts,payload,context,flags",
        "updateBehavior": "update",
        "returning": "minimal",
        "additionalFields": {
          "resolveData": true
        },
        "values": "={{$json.meal_id}},{{$json.source}},{{$json.chat_id}},{{$json.user_id}},{{$json.username}},{{$json.ts}},{{JSON.stringify($json.payload)}},{{JSON.stringify($json.context)}},{{JSON.stringify($json.flags)}}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "__REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID__",
          "name": "Supabase (Kita/Lips)"
        }
      },
      "id": "Swallow",
      "name": "SWALLOW: Upsert Meal",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "                // Build braidspace prompt for private voice (\"Lips\")\n                const meal = items[0].json;\n                const system = `You are Brainstem in braidspace mode (private channel).\nPersonas: Morgan(⚓️), Jade(🧐), Aspen(👾), Ivy(🎰), Sophie(🪢), Susanna(👣).\nDigest the Meal and return ONLY valid JSON:\n{\n  \"meal_id\": string,\n  \"anidex\": {\"intent\": string, \"topics\": string[], \"hunger\": number, \"tone\": string, \"priority\": string, \"thread_key\": string},\n  \"tendrils\": {\"breadcrumbs\": string[], \"dominant\": string, \"risks\": string[]},\n  \"reply\": {\"mode\":\"Lips\",\"text\": string, \"persona_spread\": object},\n  \"log\": {\"notes\": string, \"cycle_id\": string}\n}\nTone: intimate, grounded, direct. Do not use a public persona name.`;\n                const user = JSON.stringify(meal);\n                return [{json:{system, user}}];\n"
      },
      "id": "BuildPrompt",
      "name": "SPIT: Build Digestion Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "sendHeaders": true,
        "headerParametersJson": "{\"Authorization\": \"Bearer {{$env.OPENAI_API_KEY}}\", \"Content-Type\": \"application/json\"}",
        "bodyParametersJson": "{\"model\": \"gpt-4o-mini\", \"response_format\": {\"type\": \"json_object\"}, \"messages\": [{\"role\": \"system\", \"content\": \"={{$json.system}}\"}, {\"role\": \"user\", \"content\": \"={{$json.user}}\"}], \"temperature\": 0.5}"
      },
      "id": "OpenAI",
      "name": "SPIT: OpenAI Digestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Parse digestion JSON\nconst body = items[0].json;\nconst content = body.choices?.[0]?.message?.content || \"{}\";\nlet digest;\ntry { digest = JSON.parse(content); } catch(e) { digest = { error: String(e), raw: content }; }\nreturn [{ json: digest }];\n"
      },
      "id": "ParseDigest",
      "name": "SPIT: Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "brainstem_digests",
        "columns": "meal_id,anidex,tendrils,reply,log,voice",
        "updateBehavior": "update",
        "returning": "minimal",
        "additionalFields": {
          "resolveData": true
        },
        "values": "={{$json.meal_id}},{{JSON.stringify($json.anidex)}},{{JSON.stringify($json.tendrils)}},{{JSON.stringify($json.reply)}},{{JSON.stringify($json.log)}},Lips"
      },
      "credentials": {
        "supabaseApi": {
          "id": "__REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID__",
          "name": "Supabase (Kita/Lips)"
        }
      },
      "id": "UpsertDigest",
      "name": "SPIT: Upsert Digest",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1800,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// SPEAK — plate as private Lips\nconst d = items[0].json;\nconst crumbs = (d.tendrils?.breadcrumbs || []).join('');\nconst text = d.reply?.text || \"...\";\nreturn [{\n  json: {\n    chat_id: $prevNode['CHEW: Normalize → Meal'].json.chat_id,\n    message_id: $prevNode['CHEW: Normalize → Meal'].json.payload.message_id,\n    text: `Lips: ${text}\\n\\n${crumbs}`\n  }\n}];\n"
      },
      "id": "Speak",
      "name": "SPEAK: Plate → Telegram (private)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        2040,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "jsonParameters": true,
        "options": {},
        "sendHeaders": false,
        "bodyParametersJson": "{\"chat_id\": \"={{$json.chat_id}}\", \"text\": \"={{$json.text}}\", \"reply_parameters\": {\"message_id\": \"={{$json.message_id}}\"}}"
      },
      "id": "TelegramSend",
      "name": "SPEAK: Telegram sendMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2280,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json:{response: JSON.stringify({ok:true})}}];"
      },
      "id": "RespondOK",
      "name": "Respond OK",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        2520,
        200
      ]
    }
  ],
  "connections": {
    "Webhook: Telegram (private)": {
      "main": [
        [
          {
            "node": "CHEW: Normalize → Meal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHEW: Normalize → Meal": {
      "main": [
        [
          {
            "node": "SWALLOW: Upsert Meal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWALLOW: Upsert Meal": {
      "main": [
        [
          {
            "node": "SPIT: Build Digestion Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPIT: Build Digestion Prompt": {
      "main": [
        [
          {
            "node": "SPIT: OpenAI Digestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPIT: OpenAI Digestion": {
      "main": [
        [
          {
            "node": "SPIT: Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPIT: Parse JSON": {
      "main": [
        [
          {
            "node": "SPIT: Upsert Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPIT: Upsert Digest": {
      "main": [
        [
          {
            "node": "SPEAK: Plate → Telegram (private)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPEAK: Plate → Telegram (private)": {
      "main": [
        [
          {
            "node": "SPEAK: Telegram sendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPEAK: Telegram sendMessage": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
